.site-content {
	overflow: hidden;
}

.esquerda-single-item {
	background: #CCC;
}

.esquerda-single-item .thumbholder {
}

.redes {
	width: 154px;
	height: 50px;
	background: url(images/icons.png) no-repeat;
	margin: 23px auto 0;
}

.twitter, .facebook, .telefone {
	width: 30px;
	height: 40px;
	margin-left: 17px;
	float: left;
}

.a-twitter, .a-facebook, .a-telefone {
	width: 30px;
	height: 40px;
	position: absolute;
}

.line {
	width: 280px;
	height: 15px;
	margin: 25px 0;
	background: url(images/line.png) no-repeat;
}

.szg-superzoomgallery {
	width: 500px;
	float: left;
}

.szg-thumbs {
	float: left;
	width: 80px;
}

.szg-thumbs img {
	cursor: pointer;
}

.szg-main {
	float: left;
	width: 400px !important;
	margin-left: 10px;
}

.szg-zoom-box {
	left: 500px !important;
}

.direita-single-item {
    float: left;
    margin-left: 10px;
    width: 25%;
}

.entry-categoria {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    max-width: 690px;
    text-align: center;
    text-transform: uppercase;
}

.entry-single {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.entry-title-single-item {
    font-size: 1.2em;
	text-transform: lowercase;
    padding-top: 0;
	font-weight: bold;
}

.direita-single-item .entry-content {
	padding: 0;
}

.tamanho {
	width: 35px;
	height: 35px;
	float: left;
	margin: 0 8px 0 0;
	position: relative;
}

.tamanho span {
    display: block;
    font-weight: bold;
    margin: 8px 0 0 13px;
    text-transform: uppercase;
}

.marcado-pp, .marcado-p, .marcado-m, .marcado-g {
	width: 35px;
	height: 35px;
	position: absolute;
	background: url("images/line-red.png") no-repeat;
}

