.site-content {
	overflow: hidden;
}

.esquerda-single-item {
	background: #CCC;
}

.esquerda-single-item .thumbholder {
}

.redes {
	width: 154px;
	height: 50px;
	background: url(images/icons.png) no-repeat;
	margin: 23px auto 0;
}

.twitter, .facebook, .telefone {
	width: 30px;
	height: 40px;
	float: left;
}

.a-twitter, .a-facebook, .a-telefone {
	width: 30px;
	height: 40px;
	position: absolute;
}

.line {
	width: 280px;
	height: 15px;
	margin: 15px 0;
	background: url(images/line.png) no-repeat;
}

.szg-superzoomgallery {
	width: 400px;
	float: left;
}

.szg-thumbs {
	float: left;
	width: 80px;
}

.szg-main {
	float: left;
	width: 300px;
}

.szg-zoom-box {
	left: 400px !important;
}

